* {
  margin: 0;
}
html,
body {
  height: 100%;
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(/img/mobile.svg);
  width: 375px;
  height: 812px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 250px;

  color: var(--grey);
}

.user {
  position: relative;
  width: 10rem;
  margin: 11.5rem auto 0;
}

.user span {
  position: absolute;
  z-index: 1;
  margin-top: -15px;
}

.user > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

p {
  margin-top: 2rem;
}

a {
  margin-top: 0.25rem;
  text-decoration: none;
  color: var(--grey);
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

ul {
  margin-top: 4rem;
  list-style: none;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0;
}
